<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion"
          href="#clear_module_save">
          当使用系统方法保存了模块设置数据时(使用旧版本的可能存在该情况)使用<span class="pull-right">点击收缩该栏目</span>
       </a>
		</div>
	</div>
	<div class="container-fluid panel-collapse collapse" id="clear_module_save">
		<div class="row-fluid">
			<div class="span12 forcopy">
				<ul style="list-style: none;">
					<li>
						<ol>
							<li>
							<button type="submit" class="btn btn-warning" onclick="return confirm('高危操作，照例请您再确认一次！');" name="clear_module_save" value="yes">清空模块设置数据</button>
							</li>
						</ol>
					</li>
				</ul>
			</div>
		</div>
	</div>