<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion"
          href="#goodadmins">
          产品专员批量管理<span class="pull-right">点击收缩该栏目</span>
       </a>
		</div>
</div>
<div class="container-fluid panel-collapse collapse" id="goodadmins">
		<div class="row-fluid">
			<div class="span12 forcopy">
				<ol>
					<li>
						<ul style="list-style: none;">
						<li>
						<pre id="addentry_code_1">
<textarea name="gdmopenids" ></textarea>
						</pre>
						<code>将需要添加的产品专员openid填入上面的框内，然后点击相应按钮进行操作即可。输入多个时，使用半角英文逗号（，）进行分隔</code>
						</li>
							<li>
							<button type="submit" class="btn btn-warning" onclick="return confirm('本功能您确认需要执行操作了吗！');" name="add_gdmopenids" value="yes">追加产品专员</button>
							<button type="submit" class="btn btn-warning" onclick="return confirm('本功能您确认需要执行操作了吗！');" name="del_gdmopenids" value="yes">从产品专员中删除</button>
							</li>
						</ul>
					</li>
				</ol>
			</div>
		</div>
	</div>