<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion"
          href="#sudo">
          调试升级过程专用，请在客服引导下使用<span class="pull-right">点击收缩该栏目</span>
       </a>
		</div>
	</div>
	<div class="container-fluid panel-collapse collapse" id="sudo">
		<div class="row-fluid">
			<div class="span12 forcopy">
				<ul style="list-style: none;">
					<li>
						<ol>
							<li>
							<button type="submit" class="btn btn-warning" onclick="return confirm('本功能在开发者协助升级调试时使用，其他情况下用不着！');" name="sudo" value="yes">本功能在开发者协助升级调试时使用，其他情况下用不着</button>
							</li>
						</ol>
					</li>
				</ul>
			</div>
		</div>
	</div>