<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>定时任务</title>
	<meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
	<meta name="apple-touch-fullscreen" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<link rel="shortcut icon" href="../attachment/images/global/wechat.jpg" />

	<script type="text/javascript" src="../app/resource/js/lib/jquery-1.11.1.min.js?v=20160906"></script>
	<script type="text/javascript" src="../app/resource/js/lib/mui.min.js?v=20160906"></script>


	<link href="../app/resource/css/common.min.css?v=20160906" rel="stylesheet">
</head>
<body onload="onload()">
<div class="container container-fill">
	<div class="mui-content fadeInUpBig animated mui-backdrop" style="background-color: rgb(239, 239, 244); bottom: 20px;">
		<div class="mui-content-padded">
			<div class="mui-message">
				<div class="mui-message-icon"><span class="mui-msg-success"></span></div>
				<p class="mui-desc">
					任务进行中，如需停止，请关闭页面即可
				</p>
				<div class="mui-button-area">
					<a id='js_tip'class="mui-btn mui-btn-success mui-btn-block">定时任务进行中</a>
					<a  href="{$follow_url}" class="mui-action-back mui-btn mui-btn-info mui-btn-block mui-btn-outlined">{$_W['uniaccount']['name']}</a>
					<a  class="mui-action-back mui-btn mui-btn-info mui-btn-block mui-btn-outlined">累计执行:<span id="done_count">{$done_count}</span>次</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function onload() {
		var Obj = document.getElementById('js_tip');
		var s = "{php echo $_FM['settings']['crontab']['timelimit']}";
		countDown(s,Obj);
	}
		function countDown(s,Obj) {
		s--;
		if (s == 0) {
			Obj.innerHTML = '正在执行';
			refresh();
			s = "{php echo $_FM['settings']['crontab']['timelimit']}";
			setTimeout(function() {
				countDown(s,Obj)
			},1000);	//无延迟刷新
		} else {
			Obj.innerHTML = s + '秒后刷新';
			setTimeout(function() {
				countDown(s,Obj)
			},1000);	//1s延迟刷新
		}
	}
	function refresh() {
		mui.ajax("{php echo fm_murl('crontab','','',array())}",{
			data:{
				refresh:'{php echo $done_count+1}',
			},
			dataType:'json',//服务器返回json格式数据
			type:'post',//HTTP请求类型
			timeout:10000,//超时时间设置为10秒；
			success:function(res){
				//服务器返回响应，根据响应结果，分析是否传输成功；
				document.getElementById('done_count').innerHTML = res;
			},
			error:function(xhr,type,errorThrown){
				//异常处理；
				console.log(type);
			}
		});
	}
	</script>
</body>
</html>