				<div class="form-group">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
						 <label class='control-label'>
							 <input type='checkbox' name='np[kefuphone][status]' value='1' {if $needs_params['kefuphone']['status']==1}checked{/if} /> 
						 </label>
						 <label class="control-label">客服电话</label>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-1 col-lg-2">
						<input type="text" name="np[kefuphone][value]" class="form-control" value="{$settings['needs']['kefuphone']}" />
					</div>
				</div>