{template 'common/header-base'}
{template 'modset/tab_formodule'}
<div class="main">
	<form action="{php echo $this->createWebUrl('modset')}" method="post" class="form-horizontal form" id="setting-form">
	<input type="hidden" name="ac" value="fenxiao" />
	<input type="hidden" name="op" value="modify" />
	<input type="hidden" name="token" value="{$_W['token']}" />
		<div class="panel panel-info">
			<div class="panel-heading">分享机制设置-<span style="color: red;font-weight: bolder;">本设置项目仅管理员或开发者可见</span></div>
			{if $_FM['isAdminer']  or $_W['isfounder'] }
			<div class="panel-body">
			
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">佣金打款限额</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group">
							<input type="text" name="zhifuCommission" class="form-control" value="{$settings['fenxiao']['zhifuCommission']}" />
							<span class="input-group-addon">元</span>
						</div>
					<span class="help-block">说明：高于此金额才能申请打款结算佣金</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">整站1级佣金</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group">
							<input type="text" name="globalCommission" class="form-control" value="{$settings['fenxiao']['globalCommission']}" />
							<span class="input-group-addon">%</span>
						</div>
					<span class="help-block">说明：整站商品默认一级佣金计提比例（单个产品仍可另行单独设置）</span>	
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">整站2级佣金</label>
				<div class="col-sm-9 col-xs-12">
					<div class="input-group">
						<input type="text" name="globalCommission2" class="form-control" value="{$settings['fenxiao']['globalCommission2']}" />
						<span class="input-group-addon">%</span>
					</div>
					<span class="help-block">说明：整站商品默认二级佣金计提比例（单个产品仍可另行单独设置）</span>		
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">整站3级佣金</label>
				<div class="col-sm-9 col-xs-12">
					<div class="input-group">
						<input type="text" name="globalCommission3" class="form-control" value="{$settings['fenxiao']['globalCommission3']}" />
						<span class="input-group-addon">%</span>
					</div>
					<span class="help-block">说明：整站商品默认三级佣金计提比例（单个产品仍可另行单独设置）</span>		
				</div>
			</div>

				<div class="form-group" style="">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">申请佣金周期</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group">
							<input type="text" name="applytime" class="form-control" value="{$settings['fenxiao']['applytime']}" />
							<span class="input-group-addon">天</span>
						</div>
						<div class="help-block">申请佣金所需要的周期，如果为0则马上能申请！</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">成为代理条件</label>
					<div class="col-sm-9 col-xs-12">
						<label class="radio-inline"><input type="radio"  name="tobeagent" value="1" {if $settings['fenxiao']['tobeagent'] == 1} checked="checked"{/if} /> 购买一单</label>
						<label class="radio-inline"><input type="radio"  name="tobeagent" value="0" {if $settings['fenxiao']['tobeagent'] == 0} checked="checked"{/if} /> 无条件</label>
						<div class="help-block">选择成为代理的条件，默认注册账号后无条件成为代理！</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">点击新增积分</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id="clickcredit" name="clickcredit" class="form-control" value="{$settings['fenxiao']['clickcredit']}" />
						<div class="help-block">通过该粉丝分布到朋友圈或是直接分享到朋友的链接，点击一次增加多少积分;需要自然数，不支持小数点</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">链接分享有效期</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id="expiretime" name="expiretime" class="form-control" value="{$settings['fenxiao']['expiretime']}" placeholder="默认为24小时" />
						<div class="help-block">通过该粉丝分布到朋友圈或是直接分享到朋友的链接,在多长时间内被点击时会计入有效的分享</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享点击有效时限</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id="clicktime" name="clicktime" class="form-control" value="{$settings['fenxiao']['clicktime']}" placeholder="默认为15分钟" />
						<div class="help-block">分享者的同一链接被同一用户点击时，间隔多长时间才计入有效的点击</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">帮助说明</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_ueditor('help', $settings['fenxiao']['help']);}
						<div class="help-block">个人中心帮助说明和我要分销链接底部的相关说明</div>
					</div>
				</div>
				
				<div class="form-group" style="">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">注册条款</label>
					<div class="col-sm-9 col-xs-12">
						<textarea id="terms" style="height:150px;" name="terms" class="form-control" cols="60">{$settings['fenxiao']['terms']}</textarea>
						<div class="help-block">注册条款相关说明</div>
					</div>
				</div>
				
			</div>
			{/if}

		<div class="panel-body">
			<div class="col-sm-1 col-xs-1" >
			</div>
			<div class="col-sm-10 col-xs-10" >
				<input type="submit" name="save" value="保存" class="btn btn-primary" />
			</div>
			<div class="col-sm-1 col-xs-1" >
			</div>
		</div>
	</form>
</div>
{template 'common/footer'}